.modal {
    position: absolute;
    display: none;
    z-index: 10000;

    justify-content: center;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {

    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: column;
    width: 20vw;
    height: 60vh;
    min-height: 550px;


    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateY(-50%);
    overflow-y: auto;
}

#login-failure, #register-failure {
    display: none;
    color: #cc0000;
    border: 1px solid #ff0000;
    background-color: #ffe6e6;
    opacity: 0.8;
    border-radius: 5px;
    font: 16px Arial, sans-serif;
    text-align: center;
    line-height: 3%;
    height: 3%;
    margin-bottom: 1%;
    width: 100%;

}

.modal_body form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 3vh;
    max-height: 35vh;
    min-height: 35vh;
}

.modal_body input {
    width: 100%;
    height: 4.5%;
    min-height: 35px;
    margin-bottom: 3%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font: 18px "jeju hallasan", sans-serif;
    background-color: #e7e7e7;
}

.is-membership {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

#href-open-register:visited, #href-open-login:visited {
    color: blue;
}

.modal-submit {
    width: 100%;
    height: 4%;
    min-height: 35px;
    margin-bottom: 1.5%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'jeju hallasan', sans-serif;
    background-color: #e2a26d;
    cursor: pointer;
}

.submit-container {
    margin-top: auto;
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
    padding-top: 10px;
}

.ui-tooltip {
    z-index: 10000;
}